# Deterministic Model 03: Verification Data

In [1]:
# install libraries
#%pip install pandas
#%pip install numpy

In [2]:
# import pandas library
import pandas as pd
import numpy as np

### Read Data

In [3]:
# Read the file and assign it to variable "df_sim"
other_path = '../../data/sim/model_data.csv'
df_sim = pd.read_csv(other_path, header=0)

In [4]:
# show the first 5 rows using dataframe.head() method
print('The first 5 rows of the dataframe')
df_sim.head(5)

The first 5 rows of the dataframe

      x     y     z         dist  total_time
0  2250  2420   637  1854.499663   37.430428
1  2250  2420  1362  1753.836937   37.001744
2  2250  2420     8  2146.150973   38.672461
3  2250  2420  1005  1767.321420   37.059169
4  2250  2420   316  1983.873988   37.981385

In [5]:
df_sim.describe()

                  x             y             z          dist    total_time
count  15286.000000  15286.000000  15286.000000  15286.000000  15286.000000
mean    2250.777836   2418.592699   1139.165511   2380.843122     39.671927
std     1112.325139   1116.302229   1026.482860    973.126540      4.144179
min    -1633.000000  -1455.000000      0.000000    210.161842     30.427813
25%     2250.000000   2420.000000    435.250000   1781.114749     37.117910
50%     2250.000000   2420.000000    870.000000   1937.514129     37.783956
75%     2250.000000   2420.000000   1307.000000   2583.208082     40.533723
max     6125.000000   6283.000000   4736.000000   5656.253619     53.620666

In [6]:
# Read the file and assign it to variable "df_real"
other_path = '../../data/raw/ready_timelaps.csv'
df_real = pd.read_csv(other_path, header=0)

In [7]:
# show the first 5 rows using dataframe.head() method
print('The first 5 rows of the dataframe')
df_real.head(5)

The first 5 rows of the dataframe

   id type_brick  type  start_to_verif  verif_to_dest  dest_to_end  total_time
0   1     CORNER     2               6             18           16          40
1   2       HALF     3               4             16           18          38
2   4      BASIC     1               6             14           16          36
3   6      BASIC     1               6             14           16          36
4   9      BASIC     1               8             12           24          44

In [8]:
df_real.describe()

,id,type,start_to_verif,verif_to_dest,dest_to_end,total_time
count,73.000000,73.000000,73.000000,73.000000,73.000000,73.000000
mean,68.273973,1.328767,8.205479,15.273973,16.616438,40.095890
std,36.290594,0.817428,3.082022,2.973308,4.172097,3.559668
min,1.000000,1.000000,4.000000,8.000000,8.000000,35.000000
25%,39.000000,1.000000,6.000000,14.000000,14.000000,37.000000
50%,66.000000,1.000000,8.000000,15.000000,16.000000,40.000000
75%,100.000000,1.000000,8.000000,16.000000,18.000000,44.000000
max,133.000000,4.000000,20.000000,24.000000,26.000000,46.000000

### KS Test

In [23]:
### KS Test: One side
from scipy import stats

sample1 = df_sim['total_time'].to_numpy()

np.random.seed(122)
sample_size = 8
mean = df_sim['total_time'].mean()
std_dev = df_sim['total_time'].std()
sample2 = np.random.normal(mean, std_dev, sample_size)


ks_statistic, p_value = stats.ks_2samp(sample1, sample2)

print(f'Kolmogorov-Smirnov Statistic: {ks_statistic}')
print(f'P-value: {p_value}')

alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis. The two samples come from different distributions.")
else:
    print("Fail to reject the null hypothesis. There is not enough evidence to suggest different distributions.")

sample1

Kolmogorov-Smirnov Statistic: 0.4736360068036112
P-value: 0.036116698840293227
Reject the null hypothesis. The two samples come from different distributions.

array([37.43042837, 37.00174375, 38.67246141, ..., 47.93988368,
       45.0208853 , 42.26876032])

#### Author/Date/Organization

Vjaceslav Usmanov, CTU in Prague

###### Change Log


|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2026-01-20 | 1.1 | Vjaceslav Usmanov| added DM_03_Verification_Data.ipynb |
| 2026-02-12 | 1.2 | Vjaceslav Usmanov| changed DM_03_Verification_Data.ipynb |