# Deterministic Model 01: Příprava dat (Data Preparation)

In [1]:
# Instalace potřebných knihoven
#%pip install pandas
#%pip install numpy

In [2]:
# Import potřebných knihoven
import pandas as pd
import numpy as np

### Načtení reálných dat a dat digitálního kladečského plánu

In [3]:
# Soubor je načten a přiřazen do proměnné ‚df_real"
other_path = '../../data/raw/ready_timelaps.csv'
df_real = pd.read_csv(other_path, header=0)

# Soubor je načten a přiřazen do proměnné ‚df_sim"
other_path = '../../data/raw/ARSS_plan.csv'
df_sim = pd.read_csv(other_path, header=0)

In [4]:
# Zobrazení prvních 5 řádků datasetu
print('Prvních 5 řádků datového rámce')
df_real.head(5)

Prvních 5 řádků datového rámce

   id type_brick  type  start_to_verif  verif_to_dest  dest_to_end  total_time
0   1     CORNER     2               6             18           16          40
1   2       HALF     3               4             16           18          38
2   4      BASIC     1               6             14           16          36
3   6      BASIC     1               6             14           16          36
4   9      BASIC     1               8             12           24          44

In [5]:
# Zobrazení prvních 5 řádků datasetu
print('Prvních 5 řádků datového rámce')
df_sim.head(5)

Prvních 5 řádků datového rámce

   ID  TYPE  ROTATION      X      Y  Z  LAYER  PALLET         DIST
0   1     2        90  220.0   95.0  0      1       1  2731.367057
1   2     3        90  220.0  252.5  0      1       1  2596.795573
2   3     1        90  220.0  440.0  0      1       1  2440.172330
3   4     1        90  220.0  690.0  0      1       2  2350.749030
4   5     1        90  220.0  940.0  0      1       3  2082.200999

In [6]:
# Tvorba názvů sloupců
headers = ['id', 'type_brick', 'rotation', 'x', 'y', 'z', 'layer', 'pallet', 'dist']
print('headers\n', headers)

headers
 ['id', 'type_brick', 'rotation', 'x', 'y', 'z', 'layer', 'pallet', 'dist']

In [7]:
# Nahrazení názvů sloupců a následná kontrola datového rámce
df_sim.columns = headers
df_sim.head()

   id  type_brick  rotation      x      y  z  layer  pallet         dist
0   1           2        90  220.0   95.0  0      1       1  2731.367057
1   2           3        90  220.0  252.5  0      1       1  2596.795573
2   3           1        90  220.0  440.0  0      1       1  2440.172330
3   4           1        90  220.0  690.0  0      1       2  2350.749030
4   5           1        90  220.0  940.0  0      1       3  2082.200999

In [8]:
# Změna datového typu sloupců
df_sim[['dist','x','y','z']] = df_sim[['dist','x','y','z']].astype(int)
df_sim = df_sim.drop('type_brick', axis=1)
df_sim.head()

   id  rotation    x    y  z  layer  pallet  dist
0   1        90  220   95  0      1       1  2731
1   2        90  220  252  0      1       1  2596
2   3        90  220  440  0      1       1  2440
3   4        90  220  690  0      1       2  2350
4   5        90  220  940  0      1       3  2082

### Sloučení datových sad podle identifikátoru (ID)

In [9]:
# Sloučení datových sad podle identifikátoru (ID)
df = pd.merge(df_sim, df_real, on='id', how='inner')
df.head()

,id,rotation,x,y,z,layer,pallet,dist,type_brick,type,start_to_verif,verif_to_dest,dest_to_end,total_time
0,1,90,220,95,0,1,1,2731,CORNER,2,6,18,16,40
1,2,90,220,252,0,1,1,2596,HALF,3,4,16,18,38
2,4,90,220,690,0,1,2,2350,BASIC,1,6,14,16,36
3,6,90,220,1190,0,1,4,1804,BASIC,1,6,14,16,36
4,9,90,220,1940,0,1,7,1454,BASIC,1,8,12,24,44

In [10]:
# Seřazení sloupců datového rámce
df = df[['id','type_brick', 'type', 'rotation', 'x', 'y', 'z', 'layer', 'pallet', 'dist', 'start_to_verif', 'verif_to_dest', 'dest_to_end', 'total_time']]

### Export datové sady do formátu CSV

In [11]:
df.to_csv('../../data/sim/merged_data.csv', index=False)

### Autor / Organizace / Datum

Vjačeslav Usmanov, ČVUT v Praze, Fakulta stavební

###### Přehled změn


|  Datum (YYYY-MM-DD) |  Verze | Autor změny  |  Popis změny |
|---|---|---|---|
| 2026-01-20 | 1.1 | Vjačeslav Usmanov| added DM_01_Data_Prepearing.ipynb |
| 2026-02-12 | 1.2 | Vjačeslav Usmanov| changed DM_01_Data_Prepearing.ipynb |