# Hybrid Model 01: Sjednocení modelů (Models integration)

In [1]:
# Instalace potřebných knihoven
#%pip install pandas
#%pip install numpy
#%pip install seaborn matplotlib

In [2]:
# Import potřebných knihoven
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

### Vstupní data

In [16]:
### Deterministická data

# Soubor je načten a přiřazen do proměnné ‚df_cycl‘
other_path = '../../data/sim/model_data.csv'
df_cycl = pd.read_csv(other_path, header=0)
df_cycl

          x     y     z         dist  total_time
0        74   459  1284  2036.347957   39.408400
1       -90  4908  2217  2706.465038   42.332379
2       522  3074    26  1374.058223   36.518575
3       425  2247  2739  1504.644476   37.088373
4       516  3425  1590  1032.705670   35.029123
...     ...   ...   ...          ...         ...
19995  3122   589   704  3261.337302   44.753500
19996  1693   319  1561  2461.936433   41.265407
19997  2078    -4    46  3156.234465   44.294896
19998  3151   317  2282  3555.631308   46.037618
19999  1015    49   673  2522.489841   41.529625

[20000 rows x 5 columns]

In [ ]:
### Stochastická data

# Soubor je načten a přiřazen do proměnné ‚df_state‘
other_path = '../../data/model/simulation_MCMC_samples.csv'
df_state = pd.read_csv(other_path, header=0)
df_state

          time  state_index  state
0            0            5      6
1            1            5      6
2            2            5      6
3            3            5      6
4            4            5      6
...        ...          ...    ...
949995  949995            5      6
949996  949996            5      6
949997  949997            5      6
949998  949998            6      7
949999  949999            7      8

[950000 rows x 3 columns]

In [15]:
# nalezení indexu prvního výskytu stavu S1
idx_start = df_state[df_state['state'] == 1].index[0]

# odstranění všech řádků před tímto indexem
df_state_trimmed = df_state.loc[idx_start:].reset_index(drop=True)

df_state_trimmed

          time  state_index  state  stochastic_delay
0           74            0      1               0.0
1           75            1      2               0.0
2           76            2      3               0.0
3           77            3      4               0.0
4           78            4      5               0.0
...        ...          ...    ...               ...
949921  949995            5      6               0.0
949922  949996            5      6               0.0
949923  949997            5      6               0.0
949924  949998            6      7               0.0
949925  949999            7      8               0.0

[949926 rows x 4 columns]

### Definice neprovozních stavů

In [8]:
# definice neprovozních stavů systému
downtime_states = [9, 10, 11, 12]

### Mapa zpoždění pro jednotlivé stavy

In [9]:
# doba trvání neprovozních stavů [s]
state_delay_map = {
    9: 600,   # výměna opotřebených dílů
    10: 120,  # výměna defektního materiálu
    11: 3000, # oprava systému
    12: 1000  # servis systému
}

### Výpočet stochastického zpoždění

In [11]:
# přiřazení zpoždění podle aktuálního stavu
df_state['stochastic_delay'] = df_state['state'].map(state_delay_map)

# provozní stavy mají nulové zpoždění
df_state['stochastic_delay'] = df_state['stochastic_delay'].fillna(0)

df_state

          time  state_index  state  stochastic_delay
0            0            5      6               0.0
1            1            5      6               0.0
2            2            5      6               0.0
3            3            5      6               0.0
4            4            5      6               0.0
...        ...          ...    ...               ...
949995  949995            5      6               0.0
949996  949996            5      6               0.0
949997  949997            5      6               0.0
949998  949998            6      7               0.0
949999  949999            7      8               0.0

[950000 rows x 4 columns]

### Generování časové trajektorie deterministické doby cyklu

### Sjednocení fyzikálního a stochastického modelu

### Autor / Organizace / Datum

Vjačeslav Usmanov, ČVUT v Praze, Fakulta stavební

###### Přehled změn


|  Datum (YYYY-MM-DD) |  Verze | Autor změny  |  Popis změny |
|---|---|---|---|
| 2026-01-27 | 1.1 | Vjačeslav Usmanov| added HM_01_Models_Integration.ipynb |
| 2026-02-16 | 1.2 | Vjačeslav Usmanov| changed HM_01_Models_Integration.ipynb |