# Data Science 04: Random Data Splitting

<h3 id="import_data">1. Import Data</h3>

Import libraries:

In [1]:
# install libraries
#%pip instal pandas
#%pip install numpy

# SciPy is a free and open-source Python library used for scientific computing and technical computing.
# It is a collection of mathematical algorithms and convenience functions built on the NumPy extension of Python.
#%pip install scipy

#%pip install seaborn

# install packages
# %pip install scikit-learn
# %pip install matplotlib
# %pip install seaborn

# actual installed version of sklearn
%pip show scikit-learn

Name: scikit-learn
Version: 1.8.0
Summary: A set of python modules for machine learning and data mining
Home-page: https://scikit-learn.org
Author:
Author-email:
License-Expression: BSD-3-Clause
Location: c:\Users\usman\.conda\envs\OpenCV_Udemy\Lib\site-packages
Requires: joblib, numpy, scipy, threadpoolctl
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

In [3]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

Load the data and store it in dataframe `df`:

In [4]:
path='../../data/raw/ready_timelaps.csv'
df = pd.read_csv(path)
df.head()

   id type_brick  type  start_to_verif  verif_to_dest  dest_to_end  total_time
0   1     CORNER     2               6             18           16          40
1   2       HALF     3               4             16           18          38
2   4      BASIC     1               6             14           16          36
3   6      BASIC     1               6             14           16          36
4   7      BASIC     1               4             14           14          32

<h3 id="Splitting_dataset">2. Splitting dataset</h3>

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
user_seed = 122
df_train, df_val = train_test_split(df, test_size=0.2, random_state=user_seed)

In [7]:
df_train.head()

,id,type_brick,type,start_to_verif,verif_to_dest,dest_to_end,total_time
4,7,BASIC,1,4,14,14,32
28,35,HALF,3,6,20,10,36
73,83,BASIC,1,8,10,12,30
93,105,HALF,3,18,18,14,50
24,29,BASIC,1,6,18,20,44

In [8]:
df_train.info()

<class 'pandas.DataFrame'>
Index: 97 entries, 4 to 111
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              97 non-null     int64
 1   type_brick      97 non-null     str
 2   type            97 non-null     int64
 3   start_to_verif  97 non-null     int64
 4   verif_to_dest   97 non-null     int64
 5   dest_to_end     97 non-null     int64
 6   total_time      97 non-null     int64
dtypes: int64(6), str(1)
memory usage: 6.1 KB

In [9]:
df_val.head()

,id,type_brick,type,start_to_verif,verif_to_dest,dest_to_end,total_time
23,28,BASIC,1,10,16,22,48
74,86,BASIC,1,7,9,18,34
104,116,BASIC,1,9,16,30,55
44,51,BASIC,1,8,20,18,46
11,15,BASIC,1,6,10,48,64

In [10]:
df_val.info()

<class 'pandas.DataFrame'>
Index: 25 entries, 23 to 88
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              25 non-null     int64
 1   type_brick      25 non-null     str
 2   type            25 non-null     int64
 3   start_to_verif  25 non-null     int64
 4   verif_to_dest   25 non-null     int64
 5   dest_to_end     25 non-null     int64
 6   total_time      25 non-null     int64
dtypes: int64(6), str(1)
memory usage: 1.6 KB

<h3 id="Save_dataset">3. Save Train and Valid datset to the new csv files</h3>

In [11]:
df_train.to_csv('../../data/real/train/train_timelaps.csv', index=False)
df_val.to_csv('../../data/real/val/valid_timelaps.csv', index=False)

#### Author/Date/Organization

Vjaceslav Usmanov, CTU in Prague

###### Change Log


|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2026-01-21 | 1.1 | Vjaceslav Usmanov| added DS_04_Data_Splitting.ipynb |
| 2026-02-12 | 1.2 | Vjaceslav Usmanov| changed DS_04_Data_Splitting.ipynb |