# Data Science 01: Data Preparation / Cleaning

<h3 id="data_acquisition">Data Acquisition</h3>
<p>
There are various formats for a dataset: .csv, .json, .xlsx  etc. The dataset can be stored in different places, on your local machine or sometimes online.<br>

In our case, the TimeLaps Dataset is in a CSV (comma separated value) format.

The Pandas Library is a useful tool that enables us to read various datasets into a dataframe; our Jupyter notebook platforms have a built-in <b>Pandas Library</b> so that all we need to do is import Pandas without installing.
</p>

In [1]:
# install libraries
#%pip install pandas
#%pip install numpy

In [2]:
# import pandas library
import pandas as pd
import numpy as np

<h3>Read Data</h3>
<p>
We use <code>pandas.read_csv()</code> function to read the csv file. In the brackets, we put the file path along with a quotation mark so that pandas will read the file into a dataframe from that address. The file path can be either an URL or your local file address.<br>

Because the data includes headers, we can add an argument <code>headers = 0</code> inside the <code>read_csv()</code> method so that pandas will automatically set the first row as a header.<br>
</p>

In [3]:
# Import pandas library
import pandas as pd

# Read the file and assign it to variable "df"
other_path = '../../data/raw/timelaps.csv'
df = pd.read_csv(other_path, header=0)

After reading the dataset, we can use the <code>dataframe.head(n)</code> method to check the top n rows of the dataframe, where n is an integer. Contrary to <code>dataframe.head(n)</code>, <code>dataframe.tail(n)</code> will show you the bottom n rows of the dataframe.

In [4]:
# show the first 5 rows using dataframe.head() method
print('The first 5 rows of the dataframe')
df.head(5)

The first 5 rows of the dataframe

   ID    TYPE     START       CAL      WALL       END
0   1  CORNER  13:52:18  13:52:24  13:52:42  13:52:58
1   2    HALF  13:52:58  13:53:02  13:53:18  13:53:36
2   3   BASIC  13:53:36  13:55:20  13:55:44  13:56:00
3   4   BASIC  13:56:00  13:56:06  13:56:20  13:56:36
4   5   BASIC  13:56:36  13:56:40  13:56:54  13:58:10

### Adding or changing headers

In [5]:
# create headers list
headers = ['id', 'type_brick', 'time_start', 'time_verif', 'time_dest', 'time_end']
print('headers\n', headers)

headers
 ['id', 'type_brick', 'time_start', 'time_verif', 'time_dest', 'time_end']

Replacing headers and rechecking dataframe:

In [6]:
df.columns = headers
df.head()

   id type_brick time_start time_verif time_dest  time_end
0   1     CORNER   13:52:18   13:52:24  13:52:42  13:52:58
1   2       HALF   13:52:58   13:53:02  13:53:18  13:53:36
2   3      BASIC   13:53:36   13:55:20  13:55:44  13:56:00
3   4      BASIC   13:56:00   13:56:06  13:56:20  13:56:36
4   5      BASIC   13:56:36   13:56:40  13:56:54  13:58:10

Removing "?" symbol with NaN:

In [7]:
df = df.replace('?', np.nan)
df.head()

   id type_brick time_start time_verif time_dest  time_end
0   1     CORNER   13:52:18   13:52:24  13:52:42  13:52:58
1   2       HALF   13:52:58   13:53:02  13:53:18  13:53:36
2   3      BASIC   13:53:36   13:55:20  13:55:44  13:56:00
3   4      BASIC   13:56:00   13:56:06  13:56:20  13:56:36
4   5      BASIC   13:56:36   13:56:40  13:56:54  13:58:10

<h4>Evaluating for Missing Data</h4>

The missing values are converted by default. We use the following functions to identify these missing values. There are two methods to detect missing data:
<ol>
    <li><b>.isnull()</b></li>
    <li><b>.notnull()</b></li>
</ol>
The output is a boolean value indicating whether the value that is passed into the argument is in fact missing data.

In [8]:
missing_data = df.isnull()
missing_data.head(5)

      id  type_brick  time_start  time_verif  time_dest  time_end
0  False       False       False       False      False     False
1  False       False       False       False      False     False
2  False       False       False       False      False     False
3  False       False       False       False      False     False
4  False       False       False       False      False     False

"True" means the value is a missing value while "False" means the value is not a missing value.

<h4>Count missing values in each column</h4>
<p>
Using a for loop in Python, we can quickly figure out the number of missing values in each column. As mentioned above, "True" represents a missing value and "False" means the value is present in the dataset.  In the body of the for loop the method ".value_counts()" counts the number of "True" values. 
</p>

In [9]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print('')

id
id
False    137
Name: count, dtype: int64

type_brick
type_brick
False    137
Name: count, dtype: int64

time_start
time_start
False    137
Name: count, dtype: int64

time_verif
time_verif
False    137
Name: count, dtype: int64

time_dest
time_dest
False    137
Name: count, dtype: int64

time_end
time_end
False    137
Name: count, dtype: int64

<h3 id="deal_missing_values">Deal with missing data</h3>
<b>How to deal with missing data?</b>

<ol>
    <li>Drop data:<br>
        a. Drop the whole row<br>
        b. Drop the whole column
    </li>
    <li>Replace data:<br>
        a. Replace it by mean<br>
        b. Replace it by frequency<br>
        c. Replace it based on other functions
    </li>
</ol>

Whole columns should be dropped only if most entries in the column are empty. In our dataset, none of the columns are empty enough to drop entirely.
We have some freedom in choosing which method to replace data; however, some methods may seem more reasonable than others.

### Calculation and some changing:

<ol>
    <li>Change "type_brick" data to category values:<br>
        a. BASIC -> 1<br>
        b. CORNER -> 2<br>
        c. HALF -> 3<br>
        d. END -> 4<br>
    </li>
    <li>Trasfeer values:<br>
        a. time_start (text: HH:MM:SS) -> time_start(int: SS)<br>
        b. time_verif (text: HH:MM:SS) -> time_verif(int: SS)<br>
        c. time_dest (text: HH:MM:SS) -> time_dest(int: SS)<br>
        d. time_end (text: HH:MM:SS) -> time_end(int: SS)<br>
    </li>
    <li>Calculate time cyclus:<br>
        a. time_verif = time_verif - time_start<br>
        b. time_dest = time_dest - time_start<br>
        c. time_end = time_end - time_start<br>
        d. time_start = 0<br>
    </li>
</ol>

<h3 id="correct_data_format">Correct data format</h3>

<p>The last step in data cleaning is checking and making sure that all data is in the correct format (int, float, text or other).</p>

In Pandas, we use:
<p><b>.dtype()</b> to check the data type</p>
<p><b>.astype()</b> to change the data type</p>

<h4>Let's list the data types for each column</h4>

In [10]:
df.dtypes

id             int64
type_brick    object
time_start    object
time_verif    object
time_dest     object
time_end      object
dtype: object

<p>As we can see above, some columns are not of the correct data type. Numerical variables should have type 'float' or 'int', and variables with strings such as categories should have type 'object'. For example, 'time_'  are numerical values that describe the time cycle in seconds, so we should expect them to be of the type 'int'; however, they are shown as type 'object'. We have to convert data types into a proper format for each column using the "astype()" method.</p>

In [11]:
def time_convert(x):
    h,m,s = map(int,x.split(':'))
    return (h*60+m)*60+s

In [12]:
df['time_start_sec'] = df.time_start.apply(time_convert)
df['time_verif_sec'] = df.time_verif.apply(time_convert)
df['time_dest_sec'] = df.time_dest.apply(time_convert)
df['time_end_sec'] = df.time_end.apply(time_convert)
df.head()

,id,type_brick,time_start,time_verif,time_dest,time_end,time_start_sec,time_verif_sec,time_dest_sec,time_end_sec
0,1,CORNER,13:52:18,13:52:24,13:52:42,13:52:58,49938,49944,49962,49978
1,2,HALF,13:52:58,13:53:02,13:53:18,13:53:36,49978,49982,49998,50016
2,3,BASIC,13:53:36,13:55:20,13:55:44,13:56:00,50016,50120,50144,50160
3,4,BASIC,13:56:00,13:56:06,13:56:20,13:56:36,50160,50166,50180,50196
4,5,BASIC,13:56:36,13:56:40,13:56:54,13:58:10,50196,50200,50214,50290

In [13]:
df.dtypes

id                 int64
type_brick        object
time_start        object
time_verif        object
time_dest         object
time_end          object
time_start_sec     int64
time_verif_sec     int64
time_dest_sec      int64
time_end_sec       int64
dtype: object

In [14]:
# replacing values> Categories -> Int
pd.set_option('future.no_silent_downcasting', True)
df['type'] = df['type_brick'].replace(['CORNER', 'HALF', 'BASIC', 'END'], [2, 3, 1, 4]).infer_objects(copy=False)
df.head()

,id,type_brick,time_start,time_verif,time_dest,time_end,time_start_sec,time_verif_sec,time_dest_sec,time_end_sec,type
0,1,CORNER,13:52:18,13:52:24,13:52:42,13:52:58,49938,49944,49962,49978,2
1,2,HALF,13:52:58,13:53:02,13:53:18,13:53:36,49978,49982,49998,50016,3
2,3,BASIC,13:53:36,13:55:20,13:55:44,13:56:00,50016,50120,50144,50160,1
3,4,BASIC,13:56:00,13:56:06,13:56:20,13:56:36,50160,50166,50180,50196,1
4,5,BASIC,13:56:36,13:56:40,13:56:54,13:58:10,50196,50200,50214,50290,1

<h3 id="calculation">Calculation time cycle:</h3>

In [15]:
df['start_to_verif'] = df['time_verif_sec'] - df['time_start_sec']
df['verif_to_dest'] = df['time_dest_sec'] - df['time_verif_sec']
df['dest_to_end'] = df['time_end_sec'] - df['time_dest_sec']
df['total_time'] = df['time_end_sec'] - df['time_start_sec']
df.head()

,id,type_brick,time_start,time_verif,time_dest,time_end,time_start_sec,time_verif_sec,time_dest_sec,time_end_sec,type,start_to_verif,verif_to_dest,dest_to_end,total_time
0,1,CORNER,13:52:18,13:52:24,13:52:42,13:52:58,49938,49944,49962,49978,2,6,18,16,40
1,2,HALF,13:52:58,13:53:02,13:53:18,13:53:36,49978,49982,49998,50016,3,4,16,18,38
2,3,BASIC,13:53:36,13:55:20,13:55:44,13:56:00,50016,50120,50144,50160,1,104,24,16,144
3,4,BASIC,13:56:00,13:56:06,13:56:20,13:56:36,50160,50166,50180,50196,1,6,14,16,36
4,5,BASIC,13:56:36,13:56:40,13:56:54,13:58:10,50196,50200,50214,50290,1,4,14,76,94

In [16]:
df.dtypes

id                 int64
type_brick        object
time_start        object
time_verif        object
time_dest         object
time_end          object
time_start_sec     int64
time_verif_sec     int64
time_dest_sec      int64
time_end_sec       int64
type               int64
start_to_verif     int64
verif_to_dest      int64
dest_to_end        int64
total_time         int64
dtype: object

## Detect and exclude outliers:

In [17]:
low_limit = 0.01
hi_limit =  0.99

q_low = df['total_time'].quantile(low_limit)
q_hi  = df['total_time'].quantile(hi_limit)

df = df[(df['total_time'] < q_hi) & (df['total_time'] > q_low)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133 entries, 0 to 136
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              133 non-null    int64
 1   type_brick      133 non-null    object
 2   time_start      133 non-null    object
 3   time_verif      133 non-null    object
 4   time_dest       133 non-null    object
 5   time_end        133 non-null    object
 6   time_start_sec  133 non-null    int64
 7   time_verif_sec  133 non-null    int64
 8   time_dest_sec   133 non-null    int64
 9   time_end_sec    133 non-null    int64
 10  type            133 non-null    int64
 11  start_to_verif  133 non-null    int64
 12  verif_to_dest   133 non-null    int64
 13  dest_to_end     133 non-null    int64
 14  total_time      133 non-null    int64
dtypes: int64(10), object(5)
memory usage: 16.6+ KB

<h2>Save Dataset</h2>
<p>
Correspondingly, Pandas enables us to save the dataset to csv. By using the <code>dataframe.to_csv()</code> method, you can add the file path and name along with quotation marks in the brackets.
</p>
<p>
For example, if you would save the dataframe <b>df</b> as <b>automobile.csv</b> to your local machine, you may use the syntax below, where <code>index = False</code> means the row names will not be written.
</p>

In [18]:
df.to_csv("../../data/raw/clean_timelaps.csv", index=False)

We can also read and save other file formats. We can use similar functions like **`pd.read_csv()`** and **`df.to_csv()`** for other data formats. The functions are listed in the following table:

<h2>Read/Save Other Data Formats</h2>

| Data Formate |        Read       |            Save |
| ------------ | :---------------: | --------------: |
| csv          |  `pd.read_csv()`  |   `df.to_csv()` |
| json         |  `pd.read_json()` |  `df.to_json()` |
| excel        | `pd.read_excel()` | `df.to_excel()` |
| hdf          |  `pd.read_hdf()`  |   `df.to_hdf()` |
| sql          |  `pd.read_sql()`  |   `df.to_sql()` |

#### Author/Date/Organization

Vjaceslav Usmanov, CTU in Prague

###### Change Log


|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2026-01-18 | 1.1 | Vjaceslav Usmanov| added DS_01_Data_Cleaning.ipnyb |
| 2026-02-10 | 1.2 | Vjaceslav Usmanov| changed DS_01_Data_Cleaning.ipnyb |